* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 56px;
  background-color: rgb(64, 64, 207);
}
body {
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
main {
  min-height: calc(100vh - 56px - 80px);
  display: flex;
}
div {
  flex-basis: calc(100% - 180px);
}
aside {
  flex-basis: 180px;
  background-color: rgb(202, 202, 202);
}
footer {
  width: 100vw;
  height: 80px;
  background-color: rgb(202, 202, 202);
}
